<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @participant_api.email %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @participant_api.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @participant_api.date_of_birth %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @participant_api.phone %>
</p>

<%= link_to 'Edit', edit_participant_api_path(@participant_api) %> |
<%= link_to 'Back', participant_apis_path %>
